<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Binance volume tracking</h2>
  </div>
  <div class="panel-body">

    <form action="" method="POST" class="form-inline" role="form">

      <div class="form-group">
        <label class="sr-only" for="">Coin</label>
        <input type="text" class="form-control" id="" placeholder="Coin" (keyup)="onFilter('coin', c.value)" #c>
      </div>
      <div class="form-group">
        <label class="sr-only" for="">label</label>
        <input type="text" class="form-control" id="" placeholder="Min volume" (keyup)="onFilter('min', min.value)" #min>
      </div>
      <div class="form-group">
        <label class="sr-only" for="">label</label>
        <input type="text" class="form-control" id="" placeholder="Max volume" (keyup)="onFilter('max', max.value)" #max>
      </div>
    </form>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Time</th>
          <th>Symbols</th>
          <th>Price</th>
          <th (click)="setOrder('volume')" [class.active]="order === 'volume'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>Volume</th>
          <th (click)="setOrder('buyVolume')" [class.active]="order === 'buyVolume'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>Buy Volume</th>
          <th (click)="setOrder('quoteVolume')" [class.active]="order === 'quoteVolume'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>BTC Volume</th>
          <th (click)="setOrder('quoteBuyVolume')" [class.active]="order === 'quoteBuyVolume'">
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>BTC Buy Volume</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of volumeTrackings |volumeFilter:condition | paginate: { itemsPerPage: 10, currentPage: p }| orderBy: order : reverse:'case-insensitive':customComparator">
          <td>
            {{s.startTimeDisplay}}
            <br/>
            <span>~</span>
            <br/> {{s.closeTimeDisplay}}
          </td>
          <td>
            <a [routerLink]="['detail/'+s.symbol]">
              {{s.symbol}}
            </a>
          </td>
          <td>
            <span class="label label-info">Open</span>: {{s.open}}
            <br/>
            <span class="label label-default">Close</span>: {{s.close}}
            <br/>
            <span class="label label-success">High </span>: {{s.high}}
            <br/>
            <span class="label label-danger">Low</span>: {{s.low}}
          </td>
          <td>
            {{s.volume}}
          </td>
          <td>
            {{s.buyVolume}}
          </td>
          <td>
            {{s.quoteVolume}}
          </td>
          <td>
            {{s.quoteBuyVolume}}
          </td>
          <td>
            {{s.ratio*100}} %
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>